<%= form_with model: tier, local: true, html: { multipart: true } do |f| %>
  <div class="form-group mb-4">
    <%= f.label :category_id, Tier.human_attribute_name(:category_id), class: 'control-label' %>
    <%= f.select :category_id, categories.collect { |c| [c.name, c.id] }, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group mb-4">
    <%= f.label :title, Tier.human_attribute_name(:title), class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group mb-4">
    <%= f.label :description, Tier.human_attribute_name(:description), class: 'control-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group mb-4">
    <%= f.label :cover_image, Tier.human_attribute_name(:cover_image), class: 'control-label d-block' %>
    <%= f.file_field :cover_image, accept: 'image/png,image/jpeg', class: 'form-control-file', direct_upload: true, id: 'cover-image-upload' %>
    <div class="image-preview mt-3" data-direct-upload-target="image-preview"></div>
  </div>
  <div class="form-group mb-4">
    <%= f.label :images, Tier.human_attribute_name(:images), class: 'control-label d-block' %>
    <%= f.file_field :images, accept: 'image/png,image/jpeg', class: 'form-control-file', multiple: true, direct_upload: true, id: 'image-upload' %>
    <div class="image-preview mt-3" data-direct-upload-target="image-preview"></div>
  </div>
  <div class="form-group mb-4">
    <label class='control-label'><%= t('.rank') %></label>
    <%= f.fields_for :tier_ranks do |rank_form| %>
      <% if rank_form.index.zero? %>
        <%= rank_form.hidden_field :name, value: 'unranked' %>
        <%= rank_form.hidden_field :order, value: 0 %>
      <% else %>
        <%= rank_form.text_field :name, class: 'form-control mt-2' %>
        <%= rank_form.hidden_field :order, value: rank_form.index %>
      <% end %>
    <% end %>
    <%= render partial: 'button_group', locals: { type: 'rank' } %>
  </div>
  <div class="form-group mb-4">
    <label class='control-label'><%= t('.category') %></label>
    <%= f.fields_for :tier_categories do |category_form| %>
      <% if category_form.index.zero? %>
        <%= category_form.hidden_field :name, value: 'uncategorized' %>
        <%= category_form.hidden_field :order, value: 0 %>
      <% else %>
        <%= category_form.text_field :name, class: 'form-control mt-2' %>
        <%= category_form.hidden_field :order, value: category_form.index %>
      <% end %>
    <% end %>
    <%= render partial: 'button_group', locals: { type: 'category' } %>
  </div>

  <%= f.submit tier_form_button, class: 'btn btn-primary' %>
<% end %>
