<%= form_with model: tier, local: true, html: { multipart: true } do |f| %>
  <div class="form-group mb-4">
    <%= f.label :category_id, Tier.human_attribute_name(:category_id), class: 'control-label' %>
    <%= f.select :category_id, categories.collect { |c| [c.name, c.id] }, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group mb-4">
      <%= f.label :title, Tier.human_attribute_name(:title), class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
  </div>
  <div class="form-group mb-4">
      <%= f.label :description, Tier.human_attribute_name(:description), class: 'control-label' %>
      <%= f.text_area :description, class: 'form-control', placeholder: '説明文' %>
  </div>
  <div class="form-group mb-4" data-controller="upload-item-preview">
      <%= f.label :cover_image, Tier.human_attribute_name(:cover_image), class: 'control-label d-block' %>
      <%= f.file_field :cover_image, accept: 'image/png,image/jpeg', class: 'form-control-file', direct_upload: true, id: 'cover-image-upload', data: { upload_item_preview_target: "input", action: "change->upload-item-preview#previewImage" } %>
      <div class="image-preview mt-3" data-upload-item-preview-target="preview"></div>
  </div>
  <div class="form-group mb-4" data-controller="item-count-checker upload-item-preview">
      <%= f.label :images, Tier.human_attribute_name(:images), class: 'control-label d-block' %>
      <%= f.file_field :images, accept: 'image/png,image/jpeg', class: 'form-control-file', multiple: true, direct_upload: true, id: 'image-upload', data: { item_count_checker_target: "file", upload_item_preview_target: "input", action: "change->item-count-checker#checkFileCount change->upload-item-preview#previewImage" } %>
      <div class="image-preview mt-3" data-upload-item-preview-target="preview"></div>
  </div>
  <div class="form-group mb-4">
    <label class='control-label'><%= t('.rank') %></label>
    <%= f.fields_for :tier_ranks do |rank_form| %>
      <% rank_placeholders = ["S", "A", "B", "C", "D"] %>
      <% if rank_form.index.zero? %>
        <%= rank_form.hidden_field :name, value: 'unranked' %>
        <%= rank_form.hidden_field :order, value: 0 %>
      <% else %>
        <%= rank_form.text_field :name, class: 'form-control mt-2', placeholder: rank_placeholders[rank_form.index - 1] %>
        <%= rank_form.hidden_field :order, value: rank_form.index %>
      <% end %>
    <% end %>
    <%= render partial: 'button_group', locals: { type: 'ranks' } %>
  </div>
  <div class="form-group mb-4">
    <label class='control-label'><%= t('.category') %></label>
    <%= f.fields_for :tier_categories do |category_form| %>
      <% category_placeholders = ["Jungle", "Roam", "Exp", "Gold", "Mid"] %>
      <% if category_form.index.zero? %>
        <%= category_form.hidden_field :name, value: 'uncategorized' %>
        <%= category_form.hidden_field :order, value: 0 %>
      <% else %>
        <%= category_form.text_field :name, class: 'form-control mt-2', placeholder: category_placeholders[category_form.index - 1] %>
        <%= category_form.hidden_field :order, value: category_form.index %>
      <% end %>
    <% end %>
    <%= render partial: 'button_group', locals: { type: 'categories' } %>
  </div>

  <%= f.submit tier_form_button, class: 'btn btn-primary' %>
<% end %>
