<div class="container">
  <h1 class="mb-3"><%= @tier.title %></h1>

  <p class="mb-4"><%= @tier.description %></p>

  <%= link_to "https://twitter.com/intent/tweet?text=Hello,%20World!%20(from%20@gem)&url=#{CGI.escape(request.original_url)}", target: "_blank", class: "btn btn-primary" do %>
    <i class="fab fa-twitter"></i> Tweet
  <% end %>
  <div id="tier-container" data-tier-id="<%= @tier.id %>">
    <div class="category-row">
      <div class="label-holder"></div>
      <% @category_labels.each_with_index do |(category_name, category_id), categories_index| %>
        <div class="category-label" data-category-id="<%= category_id %>" style="background-color: <%= @tier_colors[categories_index] %>;" ><%= category_name %></div>
      <% end %>
    </div>
    <% @rank_labels.each_with_index do |(rank_name, rank_id), ranks_index| %>
      <div class="tier-row">
        <div class="label-holder" style="background-color: <%= @tier_colors[ranks_index] %>;" data-rank-id="<%= rank_id %>">
          <span class="label"><%= rank_name %></span>
        </div>
        <% @category_labels.each_with_index do |(category, category_id), categories_index| %>
          <div class="tier cell <%= "#{ranks_index}-#{categories_index}" %>" data-controller="item-drag" data-item-drag-target="tier" data-action="dragover->item-drag#dragOver drop->item-drag#updateItem">
            <%= render partial: 'tier_image', locals: { images: @images_map, rank_id: rank_id, category_id: category_id } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="default-area" 
     class="d-flex flex-wrap justify-content-center align-items-stretch gap-2 p-3 mb-3 border border-dark rounded" 
     data-default-category-id="<%= @uncategorized_tier_category_id %>" 
     data-default-rank-id="<%= @unranked_tier_rank_id %>" 
     data-controller="item-drag" 
     data-item-drag-target="tier" 
     data-action="dragover->item-drag#dragOver drop->item-drag#updateItem">
    <%= render partial: 'tier_image', locals: { images: @images_map, rank_id: "unranked", category_id: "uncategorized" } %>
  </div>

<div class="d-flex justify-content-center align-items-center mb-3 mx-4 px-4">
  <%= button_tag '保存', type: 'button', class: 'btn btn-secondary btn-lg me-custom', data: { bs_toggle: 'modal', bs_target: '#save-image-modal' } %>
  <%= link_to '編集', edit_tier_path(@tier), class: 'btn btn-primary btn-lg me-custom' %>
  <%= link_to '削除', tier_path(@tier), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-lg me-custom' %>
  <div id="trash-can" data-controller="item-drag" data-action="dragover->item-drag#dragOver drop->item-drag#deleteItem">
    <i class="fas fa-trash fa-2x"></i>
  </div>
</div>

  <%= render 'save_image_modal', tier: @tier %>
</div>
