<div class="container">
  <div id="tier-container">
    <div class="category-row">
      <div class="label-holder"></div>
      <% @category_name_and_ids.each_with_index do |(category_name, category_id), categories_index| %>
        <div class="category-label" data-category-id="<%= category_id %>" style="background-color: <%= @tier_colors[categories_index] %>;" ><%= category_name %></div>
      <% end %>
    </div>
    <% @rank_name_and_ids.each_with_index do |(rank_name, rank_id), ranks_index| %>
      <div class="tier-row">
        <div class="label-holder" style="background-color: <%= @tier_colors[ranks_index] %>;" data-rank-id="<%= rank_id %>">
          <span class="label"><%= rank_name %></span>
        </div>
        <% @category_name_and_ids.each_with_index do |(category, category_id), categories_index| %>
          <div class="tier cell <%= "#{ranks_index}-#{categories_index}" %>">
            <% (@images_map["#{rank_id}_#{category_id}"] || []).each do |image_data| %>
              <%= image_tag image_data[:url], class: 'draggable', id: image_data[:id] %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="independent-area" class="d-flex justify-content-center border border-dark rounded p-3">
    <% (@images_map["uncategorized_unranked"] || []).each do |image_data| %>
      <%= image_tag image_data[:url], class: 'draggable', id: image_data[:id] %>
    <% end %>
  </div>
  <%= button_tag '画像として保存', type: 'button', class: 'btn btn-primary', id: 'open-modal' %>
  <!-- Modal -->
<div id="myModal" title="Modal Title">
  <p>Modal body text goes here.</p>
</div>
</div>