<% content_for :title, t('.title') %>
<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-4 text-center my-5">新着Tier一覧</h1>
    <%= turbo_frame_tag 'tier_list_form' do %>
      <%= form_with url: tiers_path, local: true, method: :get, data: { turbo_frame: "tier_list" }, class: "d-flex justify-content-center" do |form| %>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "カテゴリを選択" }, { class: "form-select" } %>
          </div>
          <div class="col-auto">
            <%= form.submit "絞り込む", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render 'tier_list', tiers: @tiers %>
  </div>
</div>
