<div class="container">
  <div id="tier-container" data-tier-id="<%= @tier.id %>">
    <div class="category-row">
      <div class="label-holder"></div>
      <% @category_name_and_ids.each_with_index do |(category_name, category_id), categories_index| %>
        <div class="category-label" data-category-id="<%= category_id %>" style="background-color: <%= @tier_colors[categories_index] %>;" ><%= category_name %></div>
      <% end %>
    </div>
    <% @rank_name_and_ids.each_with_index do |(rank_name, rank_id), ranks_index| %>
      <div class="tier-row">
        <div class="label-holder" style="background-color: <%= @tier_colors[ranks_index] %>;" data-rank-id="<%= rank_id %>">
          <span class="label"><%= rank_name %></span>
        </div>
        <% @category_name_and_ids.each_with_index do |(category, category_id), categories_index| %>
          <div class="tier cell <%= "#{ranks_index}-#{categories_index}" %>">
            <% (@images_map["#{rank_id}_#{category_id}"] || []).each do |image_data| %>
              <%= image_tag image_data[:url], id: image_data[:id], crossorigin: "anonymous", draggable: "true" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="default-area" class="d-flex justify-content-center border border-dark rounded p-3" data-default-category-id="<%= @category_id_with_order_zero %>" data-default-rank-id="<%= @rank_id_with_order_zero %>">
    <% (@images_map["uncategorized_unranked"] || []).each do |image_data| %>
      <%= image_tag image_data[:url], id: image_data[:id], crossorigin: "anonymous", draggable: "true" %>
    <% end %>
  </div>
  <%= button_tag '保存', type: 'button', class: 'btn btn-primary', data: { bs_toggle: 'modal', bs_target: '#save-image-modal' } %>
  <%= link_to "https://twitter.com/intent/tweet?text=Hello,%20World!%20(from%20@gem)&url=#{CGI.escape(request.original_url)}", target: "_blank", class: "btn btn-primary" do %>
    <i class="fab fa-twitter"></i> Tweet
  <% end %>
  <%= link_to edit_tier_path(@tier), class: 'btn btn-primary' do %>
    編集
  <% end %>
  <div class="modal fade" id="save-image-modal" tabindex="-1" aria-labelledby="saveImageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveImageModalLabel">モーダルのタイトル</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>これはモーダルのコンテンツです。</p>
        </div>
        <div class="modal-footer">
          <%= button_tag 'ダウンロード', type: 'button', class: 'btn btn-primary', id: 'download-image-button' %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
