<% content_for :title, t('.title') %>
<div class="container">
  <h1 class="mb-3"><%= @tier.title %></h1>
  
  <p class="mb-4"><%= @tier.description %></p>

  <%= link_to "https://twitter.com/intent/tweet?text=Hello,%20World!%20(from%20@gem)&url=#{CGI.escape(request.original_url)}", target: "_blank", class: "btn btn-primary" do %>
    <i class="fab fa-twitter"></i> Tweet
  <% end %>
  <div id="tier-container" data-tier-id="<%= @tier.id %>">
    <div class="category-row">
      <div class="label-holder"></div>
      <% @category_name_and_ids.each_with_index do |(category_name, category_id), categories_index| %>
        <div class="category-label" data-category-id="<%= category_id %>" style="background-color: <%= @tier_colors[categories_index] %>;" ><%= category_name %></div>
      <% end %>
    </div>
    <% @rank_name_and_ids.each_with_index do |(rank_name, rank_id), ranks_index| %>
      <div class="tier-row">
        <div class="label-holder" style="background-color: <%= @tier_colors[ranks_index] %>;" data-rank-id="<%= rank_id %>">
          <span class="label"><%= rank_name %></span>
        </div>
        <% @category_name_and_ids.each_with_index do |(category, category_id), categories_index| %>
          <div class="tier cell <%= "#{ranks_index}-#{categories_index}" %>">
            <% (@images_map["#{rank_id}_#{category_id}"] || []).each do |image_data| %>
              <%= image_tag image_data[:url], id: image_data[:id], crossorigin: "anonymous",style: "pointer-events: none;" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center mb-3 mx-4 px-4">
      <%= link_to '削除', tier_path(@tier), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-lg' %>
  </div>
</div>
