<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('header_logo.png') %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('defaults.template'), '#', class: 'nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.tier'), '#', class: 'nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.login'), login_path, class: 'nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.register'), new_user_path, class: 'nav-link text-light' %>
        </li>
      </ul>
    </div>
  </nav>
</header>