<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('header_logo.png') %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('defaults.create_tier'), search_path, class: 'nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.template'), '#', class: 'nav-link text-light' %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.tier'), '#', class: 'nav-link text-light' %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to '#', { class: 'nav-link dropdown-toggle text-light', 'data-bs-toggle' => 'dropdown', role: 'button', 'aria-expanded' => 'false' } do %>
            <%= t('defaults.account') %>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'プロフィール', user_path(current_user), class: 'dropdown-item' %></li>
            <li><%= link_to '言語', '#', class: 'dropdown-item' %></li>
            <li><%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :post }  %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
