<div class="container">
  <div class="justify-content-center">
    <h1 class="mt-4 text-center my-5"><%= @category.name %>のTier一覧</h1>
    <div class="row">
      <% @tiers.each do |tier| %>
      <div class="col-md-6 scale-on-hover">
        <%= link_to tier_path(tier), class: 'text-dark text-decoration-none' do %>
          <% if tier.cover_image.attached? %>
              <%= image_tag tier.cover_image.variant(resize_to_fill: [1000, 500]), alt: tier.title, class: 'img-fluid shadowmb-5' %>
          <% else %>
              <%= image_tag 'default_cover.webp', alt: tier.title, class: 'img-fluid shadow' %>
          <% end %>
          <div class="text-center fw-bold mt-2 mb-1">
              <%= tier.title %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
